/.vagrant/
/app/build/phpunit.xml
/app/build/api/
/app/build/coverage/
/app/build/logs/
/app/config/parameters.php
/app/config/local.php
/app/config/local_*.php
/app/devops/group_vars/*/parameters.yml
/public/app_assets/.sass-cache/
/public/app_assets/css/
/public/app_assets/js/
/public/app_assets/vendor/
/composer.phar
/composer.lock
/vendor/
/.idea/
/nbproject/
/*.sublime-project
/*.sublime-workspace
