---
# mysql_root_password: "root_password"
# mysql_databases:
# - name: "project"
# mysql_users:
# - name: "project"
#   password: "user_password"
# phpmyadmin_hostname: "project_phpmyadmin"
# phpmyadmin_mysql_admin_pass: "root_password"
# phpmyadmin_mysql_app_pass: "phpmyadmin_password"
# app_database_driver: "pdo_mysql"
# app_database_host: "127.0.0.1"
# app_database_port: ~
# app_database_name: "dbname"
# app_database_user: "user"
# app_database_password: "password"
# app_github_access_token: "ThisIsTheGitHubApiAccessToken"
