{% extends "example/layout.html.twig" %}

{% block title %}{{ parent() }} | PHP Project Template{% endblock %}

{% block main %}
<div id="main" class="main container" role="main">
    <div class="page-header">
        <h1 class="text-center">Hello World</h1>
    </div>
</div><!-- #main -->
{% endblock %}
